body {
    margin-top: 20%;
    font-family: 'Ubuntu Mono', monospace;
    text-rendering: geometricPrecision;
    font-size: 1.3rem;
    line-height: 1.8rem;
    background-color: #1D1F21;
    color: #C5C8C6;
    position: relative;
    left: 50%;
    float: left;
}

.center {
    position: relative;
    left: -50%;
    float: left;
}

p {
    margin: 0;
    padding-top: -5px;
}

.usernameColor {
    background-color: #3465a4;
}

.tildeColor {
    color: aqua;
}

label {
    vertical-align: top;
}

textarea {
    font-family: 'Ubuntu Mono', monospace;
    color: #C5C8C6;
    border: none;
    background: none;
    outline: none;
    resize: none;
    overflow: hidden;
    font-size: 1.3rem;
    margin: 0;
    padding: 0.2rem 0 0 0;
    height: 1.8rem;
}
